## Pre processing example

In [4]:
import pandas as pd
import numpy as np

In [18]:
Aave=pd.read_csv('../raw/coin_Aave.csv')

In [15]:
Aave.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Aave,AAVE,2020-10-05 23:59:59,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07
1,2,Aave,AAVE,2020-10-06 23:59:59,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07
2,3,Aave,AAVE,2020-10-07 23:59:59,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07
3,4,Aave,AAVE,2020-10-08 23:59:59,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08
4,5,Aave,AAVE,2020-10-09 23:59:59,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08

In [20]:
Aave=Aave[['High','Low','Open','Close','Volume','Marketcap']]

In [21]:
Aave.head()

        High        Low       Open      Close        Volume     Marketcap
0  55.112358  49.787900  52.675035  53.219243  0.000000e+00  8.912813e+07
1  53.402270  40.734578  53.291969  42.401599  5.830915e+05  7.101144e+07
2  42.408314  35.970690  42.399947  40.083976  6.828342e+05  6.713004e+07
3  44.902511  36.696057  39.885262  43.764463  1.658817e+06  2.202651e+08
4  47.569533  43.291776  43.764463  46.817744  8.155377e+05  2.356322e+08

In [ ]:
x=Aave.values

In [22]:
def add_technical_indicators(df):
    df['MA10'] = df['Close'].rolling(window=10).mean()
    df['MA50'] = df['Close'].rolling(window=50).mean()
    df['STD20'] = df['Close'].rolling(window=20).std()
    df['Upper_Band'] = df['MA10'] + (df['STD20'] * 2)
    df['Lower_Band'] = df['MA10'] - (df['STD20'] * 2)
    df['Momentum'] = df['Close'] - df['Close'].shift(10)
    return df

In [ ]:
Aave = add_technical_indicators(Aave)

,High,Low,Open,Close,Volume,Marketcap,MA10,MA50,STD20,Upper_Band,Lower_Band,Momentum
0,55.112358,49.787900,52.675035,53.219243,0.000000e+00,8.912813e+07,NaN,NaN,NaN,NaN,NaN,NaN
1,53.402270,40.734578,53.291969,42.401599,5.830915e+05,7.101144e+07,NaN,NaN,NaN,NaN,NaN,NaN
2,42.408314,35.970690,42.399947,40.083976,6.828342e+05,6.713004e+07,NaN,NaN,NaN,NaN,NaN,NaN
3,44.902511,36.696057,39.885262,43.764463,1.658817e+06,2.202651e+08,NaN,NaN,NaN,NaN,NaN,NaN
4,47.569533,43.291776,43.764463,46.817744,8.155377e+05,2.356322e+08,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print(Aave.head(15))